<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="uneFicherosInfo" class="org.apache.log4j.RollingFileAppender">
        <param name="MaxFileSize" value="1024KB" />
        <param name="MaxBackupIndex" value="20" />
        <param name="Threshold" value="DEBUG" />
        <param name="File" value="logs/provisiones.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d  %-5p  [%c{1}] %m %n" />
        </layout>
    </appender>
    <appender name="uneFicherosError" class="org.apache.log4j.RollingFileAppender">
        <param name="MaxFileSize" value="1024KB" />
        <param name="MaxBackupIndex" value="20" />
        <param name="Threshold" value="DEBUG" />
        <param name="File" value="logs/provisiones.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c:%M:%L] %m %n" />
        </layout>
    </appender>
    <appender name="loggerSinLinea" class="org.apache.log4j.RollingFileAppender">
        <param name="MaxFileSize" value="1024KB" />
        <param name="MaxBackupIndex" value="20" />
        <param name="Threshold" value="DEBUG" />
        <param name="File" value="logs/provisiones.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c:%M:%L] %m %n" />
        </layout>
    </appender> 
    <root>
        <priority value="info" />
        <appender-ref ref="loggerSinLinea" />
    </root>
</log4j:configuration>